In [1]:
import json 
import pandas as pd
from urllib.request import urlopen

'''
get_jsonparsed_data is copied directly from https://financialmodelingprep.com.
This is the main call to process the variable url's to the API
'''
def get_jsonparsed_data(url):
    """
    Receive the content of ``url``, parse it as JSON and return the object.

    Parameters
    ----------
    url : str

    Returns
    -------
    dict
    """
    response = urlopen(url)
    data = response.read().decode("utf-8")
    return json.loads(data)

'''
financialmodelingprep ask that the API key not be shared.  I keep mine in a json
file.  The API key is available and free for use provided by registration at 
the site, it is to not be shared or left in git. 
'''
api_key = None
with open('../../.api_keys/api_keys.json') as f:
  api_keys = json.load(f)
api_key = api_keys['fiancialmod']

In [2]:
def get_current_metrics(symbol, api_key):
    prefix = 'https://financialmodelingprep.com/api/v3/profile/'
    url = '{}{}?apikey={}'.format(prefix,symbol, api_key)
    result = get_jsonparsed_data(url)
    return result

def get_historic_data(symbol, api_key):
    def extract_history(result):
        datestamp =[]
        close = []
        high = []
        low = []
        volume = []
        for token in result['historical']:
            datestamp.append(token['date'])
            close.append(token['close'])
            high.append(token['high'])
            low.append(token['low'])
            volume.append(token['volume'])
        df = pd.DataFrame.from_dict({ 'symbol':symbol, 'datestamp':datestamp, 'close':close,
                                       'high':high, 'low':low, 'volume':volume})
        return df
    
    prefix = 'https://financialmodelingprep.com/api/v3/historical-price-full/'
    url = '{}{}?apikey={}'.format(prefix, symbol, api_key)
    result = get_jsonparsed_data(url)
    return extract_history(result)

symbol = 'PYPL'

df = get_historic_data(symbol, api_key)

In [3]:
df.head(20)

   symbol   datestamp       close        high         low      volume
0    PYPL  2021-03-10  242.070007  249.960007  241.270004   9130661.0
1    PYPL  2021-03-09  241.759995  244.440002  236.039993  12050300.0
2    PYPL  2021-03-08  226.089996  241.330002  225.649994  13340300.0
3    PYPL  2021-03-05  239.050003  243.748001  223.089996  16830200.0
4    PYPL  2021-03-04  239.070007  254.800003  232.270004  18878800.0
5    PYPL  2021-03-03  255.059998  267.660004  253.250000  10841800.0
6    PYPL  2021-03-02  269.190002  277.500000  268.910004   8484900.0
7    PYPL  2021-03-01  273.630005  274.540009  265.720001  10558500.0
8    PYPL  2021-02-26  259.850006  261.859985  253.113998  11915200.0
9    PYPL  2021-02-25  253.940002  266.000000  251.419998  13403300.0
10   PYPL  2021-02-24  266.070007  268.665985  259.100006  10840000.0
11   PYPL  2021-02-23  265.000000  267.250000  252.559998  20440300.0
12   PYPL  2021-02-22  273.850006  285.000000  273.290009  13132500.0
13   PYPL  2021-02-19  286.920013  293.940002  285.459991   9413800.0
14   PYPL  2021-02-18  290.809998  292.970001  285.029999   9715500.0
15   PYPL  2021-02-17  297.200012  301.500000  290.559998   9879800.0
16   PYPL  2021-02-16  304.790009  309.140015  298.179993  13597700.0
17   PYPL  2021-02-12  298.369995  299.339996  289.320007  11882200.0
18   PYPL  2021-02-11  285.029999  302.100006  281.600006  21371100.0
19   PYPL  2021-02-10  283.179993  286.079987  278.401001   9364500.0

In [4]:
max( df['close'] )

304.790009

In [5]:
min( df['datestamp'] )

'2016-03-11'

In [6]:
dfx = df.head(20)
dfx.head(30)

   symbol   datestamp       close        high         low      volume
0    PYPL  2021-03-10  242.070007  249.960007  241.270004   9130661.0
1    PYPL  2021-03-09  241.759995  244.440002  236.039993  12050300.0
2    PYPL  2021-03-08  226.089996  241.330002  225.649994  13340300.0
3    PYPL  2021-03-05  239.050003  243.748001  223.089996  16830200.0
4    PYPL  2021-03-04  239.070007  254.800003  232.270004  18878800.0
5    PYPL  2021-03-03  255.059998  267.660004  253.250000  10841800.0
6    PYPL  2021-03-02  269.190002  277.500000  268.910004   8484900.0
7    PYPL  2021-03-01  273.630005  274.540009  265.720001  10558500.0
8    PYPL  2021-02-26  259.850006  261.859985  253.113998  11915200.0
9    PYPL  2021-02-25  253.940002  266.000000  251.419998  13403300.0
10   PYPL  2021-02-24  266.070007  268.665985  259.100006  10840000.0
11   PYPL  2021-02-23  265.000000  267.250000  252.559998  20440300.0
12   PYPL  2021-02-22  273.850006  285.000000  273.290009  13132500.0
13   PYPL  2021-02-19  286.920013  293.940002  285.459991   9413800.0
14   PYPL  2021-02-18  290.809998  292.970001  285.029999   9715500.0
15   PYPL  2021-02-17  297.200012  301.500000  290.559998   9879800.0
16   PYPL  2021-02-16  304.790009  309.140015  298.179993  13597700.0
17   PYPL  2021-02-12  298.369995  299.339996  289.320007  11882200.0
18   PYPL  2021-02-11  285.029999  302.100006  281.600006  21371100.0
19   PYPL  2021-02-10  283.179993  286.079987  278.401001   9364500.0

In [7]:
datestamp180 = df.iloc[180]['datestamp']
datestamp180

'2020-06-22'

In [8]:
import datetime
import numpy as np

def get_datestamp_past(datestamp, days_ago):
    ref_date = datetime.datetime.strptime(datestamp, "%Y-%m-%d")
    past_date = ref_date - datetime.timedelta(days_ago)
    past_datestamp = datetime.datetime.strftime(past_date, "%Y-%m-%d")
    return past_datestamp

assert '2020-06-16' == get_datestamp_past('2020-06-17', 1)
assert '2020-09-07' == get_datestamp_past('2021-03-06', 180) 

def findwindowave(values, window):
    mx = len(values)
    windowave = []
    for k in range(0,mx):
        right = min( mx, k+window+1 )
        left = max( 0, (k - window) )
        v = values[left:right]
        windowave.append( np.median( v ) )
    return windowave

values = [239.0,
          239.1,
          255.2,
          269.3,
          273.4,
          259.5,
          253.6,
          266.7,
          285.8,
          265.9]
window = 2
averages = findwindowave(values, window)

assert [239.1, 247.14999999999998, 255.2, 259.5, 259.5, 266.7, 266.7, 265.9, 266.29999999999995, 266.7] == averages

In [9]:
window, mostrecent_day, earliest_day = 5, 180, 360
datestamp = max(df['datestamp'])
mostrecent_datestamp = get_datestamp_past(datestamp, mostrecent_day)
earliest_datestamp = get_datestamp_past(datestamp, earliest_day)
print((mostrecent_datestamp,earliest_datestamp))

('2020-09-11', '2020-03-15')

In [10]:
closes = df[(\
             (df.datestamp<=mostrecent_datestamp) & (df.datestamp>earliest_datestamp) \
            )\
           ]['close']

In [11]:
def get_maxmedian_pastdays(df, mostrecent_day, earliest_day, window):
    datestamp = max(df['datestamp'])
    mostrecent_datestamp = get_datestamp_past(datestamp, mostrecent_day)
    earliest_datestamp = get_datestamp_past(datestamp, earliest_day)
    closes = df[(\
                 (df.datestamp<=mostrecent_datestamp) & (df.datestamp>earliest_datestamp) \
                )\
               ]['close']
    values = findwindowave(closes, window)
    past_maxmediandays = max(values)
    return past_maxmediandays
        
def calc_metrics(df):
    df = df.sort_values(by=['datestamp'], ascending=False)
    x = list( df['close'].head(2) )
    last_close, prev_close = x[0], x[1]
    
    window, mostrecent_day, earliest_day = 5, 120, 240
    maxmed240 = get_maxmedian_pastdays(df, mostrecent_day, earliest_day, window)
    
    window, mostrecent_day, earliest_day = 5, 60, 120
    maxmed120 = get_maxmedian_pastdays(df, mostrecent_day, earliest_day, window)
    
    window, mostrecent_day, earliest_day = 5, 30, 60
    maxmed60 = get_maxmedian_pastdays(df, mostrecent_day, earliest_day, window)
    
    window, mostrecent_day, earliest_day = 5, 10, 30
    maxmed30 = get_maxmedian_pastdays(df, mostrecent_day, earliest_day, window)
    
    window, mostrecent_day, earliest_day = 5, 1, 10
    maxmed10 = get_maxmedian_pastdays(df, mostrecent_day, earliest_day, window)
    
    return [last_close, prev_close, maxmed10, maxmed30, maxmed60, maxmed120, maxmed240]

def get_data(symbol, api_key):
    df = get_historic_data(symbol, api_key)
    v = calc_metrics(df)
    return (symbol, v[0], v[1], v[2], v[3], v[4], v[5], v[6])

symbol = 'TSM'
print( get_data(symbol, api_key) )

('TSM', 113.830002, 116.379997, 121.845001, 137.16500100000002, 128.440002, 114.189999, 89.239998)

In [25]:
symbols = ['PYPL','ETHUSD','AMD', 'TSM', 'NIO', 'JD', 'MELI', 
           'SE', 'JMIA', 'AMZN', 'LMND', 'ESTC','ALB','SQM', 'NVDA', 'BABA', 'MU', 'RDFN']
api_keys = [api_key] * len(symbols)
    
def portfolio_date(symbols, api_key):
    current_data = map( get_data, symbols, api_keys )
    
    symbol = [] 
    close = [] 
    prev_close = [] 
    maxmed10 = [] 
    maxmed30 = [] 
    maxmed60 = [] 
    maxmed120 = [] 
    maxmed240 = [] 
    
    
    current_data = list(current_data)
    
    for c in current_data:
        symbol.append(c[0])
        close.append(c[1])
        prev_close.append(c[2])
        maxmed10.append(c[3])
        maxmed30.append(c[4])
        maxmed60.append(c[5])
        maxmed120.append(c[6])
        maxmed240.append(c[7])
        
    dfx = pd.DataFrame.from_dict({
            'symbol':symbol,
            'close':close,
            'prev_close':prev_close,
            'maxmed10': maxmed10,
            'maxmed30': maxmed30,
            'maxmed60': maxmed60,
            'maxmed120': maxmed120,
            'maxmed240': maxmed240 })
    
    return dfx

dfx = portfolio_date(symbols, api_key)

In [26]:
dfx['R'] = dfx['close']/dfx['maxmed30']
dfx = dfx.sort_values(by=['R'], ascending=False)
dfx.head(30)

,symbol,close,prev_close,maxmed10,maxmed30,maxmed60,maxmed120,maxmed240,R
1,ETHUSD,1793.074341,1793.852295,1758.503052,1843.532593,1698.248840,1224.937623,451.617202,0.972630
13,SQM,54.900002,52.380001,52.750000,56.485001,57.980000,56.054998,41.084999,0.971939
12,ALB,152.300003,145.770004,145.770004,159.270004,181.254997,169.014999,108.860000,0.956238
16,MU,85.410004,89.300003,89.110001,89.595001,81.300003,77.185001,54.870001,0.953290
9,AMZN,3057.639893,3062.850098,3005.000000,3286.580078,3336.939941,3236.080078,3400.000000,0.930341
5,JD,89.330002,89.529999,92.195000,101.369999,95.099998,88.180000,87.084999,0.881227
15,BABA,234.300003,238.139999,234.419998,268.390000,264.059998,267.250000,307.970001,0.872983
2,AMD,77.519997,78.529999,79.689999,91.904999,91.779999,94.070000,85.550003,0.843480
14,NVDA,498.730011,500.809998,505.324996,597.345001,542.955017,537.150024,553.549988,0.834911
0,PYPL,242.070007,241.759995,247.065002,291.115005,260.669998,235.729996,204.139999,0.831527
3,TSM,113.830002,116.379997,121.845001,137.165001,128.440002,114.189999,89.239998,0.829876
7,SE,217.210007,228.470001,239.134995,274.645005,243.750000,200.989998,173.020004,0.790876
17,RDFN,69.440002,64.900002,68.979999,91.164997,81.150002,76.400002,53.669998,0.761696
6,MELI,1435.569946,1452.010010,1499.119995,1922.570007,1898.840027,1679.989990,1323.204956,0.746693
4,NIO,41.320000,41.349998,41.349998,60.059999,61.455000,53.345001,41.590000,0.687979
11,ESTC,112.239998,114.440002,127.584999,165.299996,163.805001,152.300003,120.139999,0.679008
8,JMIA,42.230000,41.630001,41.630001,62.610000,62.094999,41.759998,17.660000,0.674493
10,LMND,94.070000,93.519997,99.435001,157.300003,165.745002,122.500000,80.069999,0.598029