In [1]:
import yfinance as yf


msft = yf.Ticker("MSFT")

msft.financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [2]:
msft.quarterly_financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [3]:
msft.history('180d')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-06-04,182.954094,184.482841,180.968700,181.584167,28761800,0.00,0
2020-06-05,181.286361,186.359045,180.680815,185.832916,39893600,0.00,0
2020-06-08,184.582126,187.173066,183.093080,186.984451,33211600,0.00,0
2020-06-09,186.627082,189.307362,185.892481,188.413940,29783900,0.00,0
2020-06-10,189.734234,197.070266,189.615100,195.402527,43872300,0.00,0
...,...,...,...,...,...,...,...
2021-02-12,243.369471,244.736333,242.172231,244.427048,16552000,0.00,0
2021-02-16,244.466945,245.564423,242.361793,243.139999,26708200,0.00,0
2021-02-17,241.320007,244.309998,240.940002,244.199997,21653500,0.56,0
2021-02-18,241.800003,243.929993,240.860001,243.789993,16910900,0.00,0
2021-02-19,243.750000,243.860001,240.179993,240.970001,25216700,0.00,0

AttributeError: 'DataFrame' object has no attribute 'earnings'